.spoogpoint {
   flex: 1 1 auto;
}

.spawnpoint {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
    font-size: 100px;
    vertical-align: middle;
}

h3 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
    font-size: 40px;
    vertical-align: middle;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin: 0px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.rattitle{
    align-items: right;
    border: 10px;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 30px;
}

img {
    float: right;
    margin-right: 8vh;
}
