
body {
    background-color:lightgray;
    height: 100%;
}



.rattitle{
    align-items: right;
    border: 10px;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 30px;
}

.Doos {
    display: flex;
    flex-flow: column;
    height: 100%
} 

.Spawnpoint {
    flex: 1 1 auto;
    border: 1px dotted gray;
}


.Doos .Spawnpoint {
    border: 1px dotted gray;
}