
body {
    background-color:lightgray;
}



.rattitle{
    align-items: right;
    border: 10px;
    border-color: cornflowerblue;
    border-style: solid;
    border-radius: 30px;
}


.Spawnpoint {
    flex: 1 1 auto;
    border: 1px dotted gray;
}
